<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
<head>
    <h1><%= title %></h1>
 </head>
 <div role="main">
  <p><%= content %></p>
 <table>
   <tr>
    <th>ID</th>
    <td><%= mydata.id %></td>
   </tr>
    <tr>
    <th>Name</th>
    <td><%= mydata.name %></td>
   </tr>
    <tr>
    <th>Mail</th>
    <td><%= mydata.mail %></td>
   </tr>
    <tr>
    <th>Age</th>
    <td><%= mydata.age %></td>
   </tr>
 </table>
 <form method="post" action="/crud/delete">
    <input type="hidden" name="id" value="<%= mydata.id %>">
    <p><input type="submit" value="削除"></p>
 </form>
 </div>
  </body>
</html>
